/* animaciones */

@keyframes imagen_principal {
    0% { width: 600px;  }
    25% { width: 625px; transform: rotate(2deg);}
    50% { width: 600px;  }
    75% { width: 625px; transform: rotate(-2deg);  }
    100% { width: 600px;  }
}
