/* media queries */ /* MENU */

@media screen and (max-width:850px){

    .header__nav-logo{
        width: 130px;
        height: 60px;
        margin-left: 1.5rem;
    }

    .header__menu_items{
        li{
            a{
                font-size: 16px;
            }
        }
    }
}


@media screen and (max-width:720px) {

    .header__menu{
        height: 65px;
    }
    
    .btn_menu{
        display: inline-flex;
    }

    .header__menu_items{
        position: fixed;
        width: 100vw;
        height: calc(100% - 65px);
        background: #414141;
        top: -100vh;
        text-align: center;
        transition: all .4s;
        flex-direction: column;
    }

    .header__menu_items{
        li{
            margin: 30px 0 0 0;
            line-height: 30px;
        }
    }

    .header__menu_items{
        li:hover{
            background: none;
        }
    }


    .header__menu_items{
        li{
            a{
                font-size: 20px;
                color: #fff;
                font-weight: bold;
            }
        }
    }

    .header__menu_items{
        li{
            a:hover{
                color: #e9183b;
            }
        }
    }

    .header__nav-logo{
       font-size: 25px;
       margin-left: 1rem;
    }
}


/* MAIN index */


@media screen and (max-width:850px){

    .index__main-h1{
        font-size: 2.5rem;
        color: rgb(10, 19, 134);
        font-family: fantasy;
    }
    .index__main-h3{
        color: rgb(1, 85, 211);   
        text-align: center;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    }
    .index__main-h4{
        color: rgb(8, 8, 8);
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    }
    .main__botonmio{
     font-size: 1rem;
     padding-bottom: 1%;
    }
    
    .main__imagenPrincipal{
        width: 100%;
        height: 100%;
     
    }
    
    .main__divmain{
        position: relative;
        display: inline-block;
        text-align: center; 
    }
    
    .main__texto1{
        width: 100%;
        display: flex;
        text-align: center;
        justify-content: center;
        position: absolute;
        top: 25%;
        left: 50%;
        transform: translate(-50%, -50%)
    }
    .main__texto2{
        position: absolute;
        top: 60%;
        left: 50%;
        transform: translate(-50%, -50%)
    }
    
  
}


@media screen and (max-width:720px){

    .index__main-h1{
        font-size: 2.5rem;
        color: rgb(10, 19, 134);
        font-family: fantasy;
    }
    .index__main-h3{
        color: rgb(1, 85, 211);   
        text-align: center;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    }
    .index__main-h4{
        color: rgb(8, 8, 8);
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    }
    .main__botonmio{
     font-size: 1rem;
     padding-bottom: 1%;
    }
    
    .main__imagenPrincipal{
        width: 100%;
        height: 100%;
     
    }
    
    .main__divmain{
        position: relative;
        display: inline-block;
        text-align: center; 
    }
    
    .main__texto1{
        width: 100%;
        display: flex;
        text-align: center;
        justify-content: center;
        position: absolute;
        top: 25%;
        left: 50%;
        transform: translate(-50%, -50%)
    }
    .main__texto2{
        position: absolute;
        top: 60%;
        left: 50%;
        transform: translate(-50%, -50%)
    }
    

}

/* footer */


@media screen and (max-width:720px){

    
.footer{
    background-color: rgb(44, 167, 172);
}
.footer__redes{
    width: 2rem;
    height: 2rem;
}


.footer__logo{
    width: 6rem;
    height: 3rem;
}
.footer__posicionlogo{
    display: flex;
    align-items: center;
    justify-content:space-evenly;
}

footer{
    div{
        ul{
            li{
                a{
                    padding: 5px;
                    list-style: none;
                    color: rgb(251, 251, 251);
                    font-size: 1rem;
                }
            }
        }
    }
}

.footer__iconosredes{
    display: none;
}

}